{% extends "base.html" %}

{% block "title" %}Prisijungimas{% endblock %}

{% block "content" %}

  {% if form.errors %}
    <p>Prisijungimo klaida, bandykite dar kartą!</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Neturite prieigos prie šios informacijos. Turite prisijungti.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>Vartotojas: </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>Slaptažodis: </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>

    <input class="btn btn-primary" type="submit"  value="Prisijungti" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

<p><a href="{% url 'password_reset' %}">Pamiršote slaptažodį?</a></p>
<p>Arba prisijunkite su github:</p>

{% load socialaccount %}
<form action="{% provider_login_url 'github' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary" >Prisijungti su Github</button>
</form>
<br>
<p>Arba prisijunkite su Google:</p>
<form action="{% provider_login_url 'google' %}" method="post">
  {% csrf_token %}
    <button type="submit" class="btn btn-primary" >Prisijungti su Google</button>
</form>
{% endblock %}